body {
  background-color: black;
  margin: 0px;
  padding: 0px;
}

/*#region navbar*/
.navbar {
  color: white;
  text-align: center;
  list-style: none;
}

.navbar > ul {
  text-align: center;
  list-style: none;
}

.navbar :link {
  color: white;
  text-decoration: none;
}

.navbar :visited {
  color: white;
  text-decoration: none;
}

.navbar > ul :hover {
  text-decoration: underline;
}
/*#endregion navbar*/

/*#region cards*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-options {
  width: 25rem;
  height: 35rem;
  margin: 2.5rem;
  background-color: white;
}

.card-options > h2 {
  text-align: center;
}

.card-img {
  width: 50%;
  height: 214px;
  border-radius: 12px;
}
/*#endregion cards*/

/*#region dialog-cards*/
.dialog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dialog-card {
  width: 40rem;
  height: 50rem;
  margin: 2.5rem;
  background-color: white;
}

.dialog-card > p {
  text-align: center;
  padding-top: 5rem;
}

.dialog-navbar {
  color: black;
  text-align: center;
  list-style: none;
}

.dialog-navbar > ul {
  text-align: center;
  list-style: none;
  padding: 10rem;
}

.dialog-navbar :link {
  color: black;
  text-decoration: none;
}

.dialog-navbar :visited {
  color: black;
  text-decoration: none;
}

.dialog-navbar > ul :hover {
  text-decoration: underline;
}
/*#endregion dialog-cards*/
